 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
  <p> View my resume <a href="/assets/resume.pdf">here</a> </p>
  <br>
  <h2>Expertise</h2>
</div>

  <div class="user">
    
    <div class="tech">
      <h3>Code</h3>
      <i class="devicon-python-plain-wordmark"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-mysql-plain"></i>
      <p>Python has been my language of choice since high school. I am familiar with several popular frameworks(Pytorch, Tensorflow, Scrapy, Rasa, etc) and libraries(numpy, pandas, scikit-learn, prophet, seaborn, folium, etc). I have also used Python integrated with Flask, Redis and PostgreSQL for various applications. </p>
      <p>I am comfortable with Javascript and have also worked with App Script</p>
    </div>
    <div class="tech">
      <h3>Web</h3>
      <!-- -->
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-css3-plain"></i>
      <i class="devicon-php-plain colored"></i>
      <p>I have built a few web apps that used HTML, CSS and Javascript(Bootstrap Framework) for the frontend and PHP to connect the backend. </p>
    </div>
    <div class="tech">
      <h3>Tools</h3>
      <!-- Anaconda  -->
      <i class="devicon-photoshop-line colored"></i>
      <i class="devicon-git-plain-wordmark"></i>
      <i class="devicon-linux-plain colored"></i>
      <p>I have worked on Tableau and Exploratory for Data analysis and visualization. I am comfortable in the Linux environment. I have a functional understanding of the basic git commands. </p>
    </div>
</div>
