 <div class="user-details">
  <h1> About Me </h1>
  <p> {{site.user_description}} </p>
  <p> View my resume <a href="/assets/resume.pdf">here</a> </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <!-- Python Javascript HTML 
      -->
      <i class="devicon-python-plain-wordmark"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-mysql-plain"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Web</h2>
      <!-- -->
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-css3-plain colored">
      <i class="devicon-php-plain colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <!-- Anaconda  -->
      <i class="devicon-git-plain-wordmark"></i>
      <i class="devicon-photoshop-line colored"></i>
      <i class="devicon-linux-plain colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
