
<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="garbage segregation" src="{{ '/assets/img/proj1.jpg' | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Deep Learning for Garbage Segregation </h3>
    <p>Designed a prototype device using a Raspberry Pi that uses Deep Learning for automatic garbage segregation.</p>
    <h4> Featured Skills: Transfer learning, Keras, Pytorch, Firebase</li>
    </h4>
    <a class="project-link" href="/projects/proj1.html">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="skin cancer detector" src="{{ '/assets/img/dermaimg.png' | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Skin Cancer Detector </h3>

    <p>Used transfer learning to build a classifier that can distinguish between cancerous and non-cancerous skin lesions.</p>
    <h4>Featured Skills: Transfer Learning, Pytorch</h4>

    <a class="project-link" href="/projects/derma_pytorch.html">Check it out</a>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="autoencoders" src="{{'/assets/img/projae.png'| prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Denoising Images Using Autoencoders </h3>

    <p>Built a basic a convolutional autoencoder to remove noise from MNIST images.</p>
    <h4>Featured Skills: CNNs, Autoencoders, Pytorch</h4> 

    <a class="project-link" href="/projects/ae.pdf">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="singapore population" src="{{ '/assets/img/singapore.jpg' | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Singapore's Resident Population Analysis </h3>

    <p>Uncovered insights about different sectors in Singapore's resident population. </p>
    <h4>Featured Skills: Data Analysis</h4>

    <a class="project-link" href="/projects/sngpopln.html">Check it out</a>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="sentiment analysis" src="{{'/assets/img/proj3.jpg' | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Sentiment Analysis</h3>

    <p>Performed sentiment analysis on tweets towards top airlines. Used LSTMs to predict tweet sentiment.</p>
    <h4>Featured Skills: Data analysis, Data Visualization, NLP, LSTMs</h4>

    <a class="project-link" href="/projects/sentiment.html">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="blr Neighbourhoods" src="{{ '/assets/img/proj2.png' | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Clustering Bangalore's Neighbourhoods </h3>

    <p>Compared clustering algorithms by clustering Bangalore's neighborhoods based on their top attractions (data from Foursquare's Places API).</p>
    <h4>Featured Skills: Data Analysis, Data Visualization</h4> 

    <a class="project-link" href="/projects/cluster.pdf">Check it out</a>
  </div>
</div>
<!-- 
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="character rnn" src="{{ "/assets/img/charimg.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Char RNN </h3>

    <p>Used LSTM's for text generation by predicting the next character.</p>
    <h4>Featured Skills: LSTMs, Pytorch</h4> 

    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
 -->