<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="garbage segregation" src="{{ "/assets/img/proj1.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Deep Learning for Garbage Segregation </h3>
    <p>Designed a prototype device using a Raspberry Pi that uses Deep Learning for automatic garbage segregation.</p>
    <h4> Featured Skills: Transfer learning, Keras, Pytorch, Firebase</li>
    </h4>
    <a class="project-link" href="/projects/proj1.html">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="autoencoders" src="{{ "/assets/img/projae.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Denoising Images using Autoencoders </h3>

    <p>Built a basic a convolutional autoencoder to remove noise from MNIST images.</p>
    <h4>Featured Skills: CNNs, Autoencoders, Pytorch</h4> 

    <a class="project-link" href="/projects/ae.pdf">Check it out</a>
  </div>
<div class="user-projects">
  <div class="images-right">
    <img alt="sentiment analysis" src="{{ "/assets/img/proj3.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Sentiment Analysis</h3>

    <p>Performed sentiment analysis on tweets. Build a sentiment prediction algorithm.</p>
    <h4>Featured Skills: Data analysis, Data Visualization, NLP, RNNs, LSTMs</h4>

    <a class="project-link" href="#">Check it out</a>
  </div>

</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="blr Neighbourhoods" src="{{ "/assets/img/proj2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Clustering Bangalore's Neighbourhoods </h3>

    <p>Compared clustering algorithms by clustering Bangalore's neighborhoods based on their top attractions (data from Foursquare's Places API).</p>
    <h4>Featured Skills: Data Analysis, Data Visualization</h4> 

    <a class="project-link" href="/projects/cluster.pdf">Check it out</a>
  </div>
</div>
<!-- <div class="user-projects">
  <div class="images-right">
    <img alt="dog breed classifier" src="{{ "/assets/img/dogbreedclassifier.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Dog Breed Classifier </h3>

    <p>Built a neural network from scratch in Pytorch to classify dog images to their corresponding breeds. Improved accuracy using Transfer Learning.</p>
    <h4>Featured Skills: Pytorch, CNN, Transfer Learning</h4> 

    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="skin cancer detector" src="{{ "/assets/img/dermapytorchimg.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Skin Cancer Detector </h3>

    <p>Used transfer learning to build a classifier that can identify whether a patient has skin cancer or not based on an image of the suspicious area.</p>
    <h4>Featured Skills: Transfer Learning, Pytorch</h4> 

    <a class="project-link" href="/projects/ae.pdf">Check it out</a>
  </div> 
</div>
</div>
 -->
