<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="garbage segregation" src="{{ "/assets/img/proj1.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Deep Learning for Garbage Segregation </h3>
    <p>Designed a prototype device using a Raspberry Pi for automatic garbage segregation.</p>
    <h4> Featured Skills: Transfer learning, Image classification, Firebase</li>
    </h4>
    <a class="project-link" href="/projects/proj1.html">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="blr Neighbourhoods" src="{{ "/assets/img/proj2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Clustering Bangalore's Neighbourhoods </h3>

    <p></p>
    <ul>
      <li> Featured Skills: Data Analysis, Clustering</li>
    </ul>
    <a class="project-link" href="#">Check it out</a>
  </div>
<div class="user-projects">
  <div class="images-right">
    <img alt="sentiment analysis" src="{{ "/assets/img/proj3.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Sentiment  </h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <ul>
      <li> Featured Skills: </li>
    </ul>
    <a class="project-link" href="#">Check it out</a>
  </div>

</div>
